


{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div align="center" >
<h1>{{title}}</h1>


{% block head_extra %} 

{% endblock head_extra %}




{% if formset %}





<div class='col-sm-6 col-sm-offset-3'>
  <h1> Add Contact </h1>

<form class="" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
   
    {{ formset|crispy }}
    

<input type='submit'  class="btn btn-primary" action="" />
{% endif %} 
</form>


   
{% for contact in contact_list %}
{% if request.user == contact.user  %}
<div class="container">
	  <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last name</th>
          <th>Phone number</th>
          <th>Email</th>
              <th>Delete</th>  
            <th>Add Favourite</th>
            
            <th>Favourite</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>{{contact.first_name}}</td>
		      <td>{{contact.last_name}}</td>
		      <td>{{contact.phone_number}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.email}}</td>
          <td class="thumbnail">{{contact.image}}</td>
          <td><a href="/delete/{{ contact.id }}">Delete</a></td>
          <td><a href="/edit/{{ contact.id }}">Edit/AddFavourite</a></td>
         {% if contact.favourite == True  %}
<td><img src="http://1.bp.blogspot.com/-zfE6Op8SswI/VjmGEHgg5EI/AAAAAAAABq4/ctTK7SUykxo/s1600/yellow_star.png" alt="Mountain View" style="width:30px;height:30px;"> </td>
{% endif %}
        </tr>
       
        
      </tbody>
    </table>
</div>
</div>







{% endif %}

{% endfor %}
<div class="container">
  <p class="navbar-text navbar-left">Search:{% csrf_token %}
  <input type="text" id="search" name="search" />
  <ul id='search-results'>
  </ul> </a></p>
  </ul>
</div>

{% endblock content %}
</div>

